
.header{     
    display: flex;
    justify-content: center;
    align-items: center;
    &__img{

    }
    &__items{
        display: none;
        ul{
            list-style: none;    
            display: flex;
            justify-content: space-around;            

        }
    }

}